{% extends "app_base.html" %}
{% block title %}Feed{% endblock %}
{% block content %}



{% for post_obj, image_data in posts %}


<div class="just_post_cont">
        <div class="just_post_profile_section">
            <div class="profile">
                <a href="/profile/{{ User.query.filter_by(id=post_obj.user_id).first().user_name }}">
                    <img class="profile_pic" src="data:image/jpeg;base64, {{ image_data }}" alt="" width="50px" height="50px">
                </a>
            </div>
            <div class="just_post_name">
                {{ User.query.filter_by(id=post_obj.user_id).first().name }}

            <div class="just_post_name user_name">
                {{ User.query.filter_by(id=post_obj.user_id).first().user_name }}
            </div>

            </div>
            <div class="dropdown">
                  <button class="btn primary dropdown-toggle"
                          type="button" id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">
                      More
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" onclick="copyToClipboard({{ post_obj.id }})">Share</a>
                    {% if user.id == post_obj.user_id %}
                    <a class="dropdown-item" onClick="deletePost({{ post_obj.id }})">Delete</a>
                    <a class="dropdown-item" onclick="hidePost({{ post_obj.id }})">Hide</a>
                    <a class="dropdown-item" href="/edit-post-{{ post_obj.id }}">Edit</a>
                    {% endif %}
                  </div>
            </div>

<!--            <div class="dropdown">-->
<!--                <button id="{{ post_obj.id }}" class="click">&#8942;</button>-->
<!--                <div class="list">-->

<!--                    <button class="links">Share</button>-->

<!--                    {% if user.id == post_obj.user_id %}-->
<!--                        <a href="/hide-post/{{ post_obj.id }}" class="links">Hide</a>-->
<!--                        <button type="button" onClick="deletePost({{ post_obj.id }})" class="links">Delete</button>-->
<!--                        <button class="links">Edit</button>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--            </div>-->
<!--            <script>-->
<!--                let click{{ post_obj.id }} = document.querySelector('.click');-->
<!--                        let list = document.querySelector('.list');-->
<!--                        click{{ post_obj.id }}.addEventListener("click", ()=>{-->
<!--                            list.classList.toggle('newlist');-->
<!--                        });-->
<!--            </script>-->
        </div>


        <div class="image_like_cmnt">
            <div>
                <div class="title">{{ post_obj.title }}</div>
                <img class="image" src="data:image/jpeg;base64, {{ image_data }}" alt="image" width="350px">
            </div>
            <div class="like_cmnt">
                {% if  Like.query.filter_by(post_id=post_obj.id, liker_id=current_user.id).first() %}

                    <i class="fas fa-heart" id="like-button-{{ post_obj.id }}" onclick="likePost({{ post_obj.id }})"></i>
                    <span id="likes-count-{{post_obj.id}}">
                        {{ post_obj.likes|length }}
                    </span>
                {% else %}

                    <i class="far fa-heart" id="like-button-{{ post_obj.id }}" onclick="likePost({{ post_obj.id }})"></i>
                    <span id="likes-count-{{post_obj.id}}">
                        {{ post_obj.likes|length }}
                    </span>
                {% endif %}
                <button class="just_post_btn">
                    <i class="far fa-comment-dots"></i>
                    {{ post_obj.comments|length }}
                </button>
            </div>
        </div>
        <div class="capt">
            Caption
        </div>
        <div class="caption">
            {{ post_obj.caption }}
        </div>
    </div>

<style>
.just_post_cont{
    background-color: white;
    height: max-content;
    width: 350px;
    display: block;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 18px black;
    border: none;
    margin-top:30px;
    margin-bottom:40px;
}
.just_post_profile_section{
    display: flex;
    align-items: center;
    justify-items: center;
}
.profile_pic{
    border-radius: 50%;
    margin: 5px;
}
.just_post_name{
    margin-left: 7px;
}

.dropdown-toggle{
    position:relative;
    right:-120px;
}

.just_post_follow_btn{
    border-radius: 7px;
    height: 30px;
    background: transparent;
}
.image_like_cmnt{
    position: relative;
    background-color: white;
    width: max-content;
    height:fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 12px 12px;
    box-shadow: 0px 3px 10px 0.1px, 0px -3px 20px 1px white;
}

.title{
    padding: 3px;
    font-size: larger;
    text-align: center;
    overflow: auto;
    text-shadow: 0px 0px 30px black;
}

.like_cmnt{
    background-color: rgb(255, 255, 255);
    height: 45px;
    border-radius: 0 0 12px 12px;
    justify-content:center;
}

.like{
    color: aqua;
    font-size: small;
}
.img{
    padding-left: auto;
    padding-right: auto;
}
.capt{
    padding: 3px;
    font-weight: 800;
}
.caption{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 95%;
}
.just_post_btn{
    margin-left: 90px;
    background: transparent;
    border:none;
    font-size:x-large;
}
.fas{
 color: red;
}
.fa-heart{
    margin-left: 90px;
    background: transparent;
    border:none;
    font-size:x-large;
    cursor: pointer;
}
.just_post_btn:hover{
    color: rgb(253, 0, 0);
}

.dropdown{
    width: 200px;
    position: relative;
}
.click{
    background: none;
    padding: 12px;
    font-size: 1.2em;
    font-family: Futura Md BT;
    border: none;
    outline: none;
    width: 20px;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    position: relative;
    right: -130px;
}
.click:hover{
    background-color: rgb(109, 109, 109);
}
.links{
    padding: 10px;
    font-size: 1.2em;
    font-family: Futura Md BT;
    border: none;
    border-radius: 2px;
    outline: none;
    width: 100px;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
}
.list{
    position: absolute;
    right: 0px;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.31s;
    border-radius: 20px;
    z-index: 100;
}
.newlist{
    transform: scaleY(1);

}

.links:hover{
    background-color: rgb(192, 192, 192);
    transform: scale(1.1);
}


</style>



{% endfor %}
{% endblock %}