{% extends "app_base.html" %}
{% block title %}Following{% endblock %}
{% block content %}

<h3>People {{ user_obj.name }} follows</h3>


<ul class="list-group list-group-flush" id="notes">

    {% for flwg in user_obj.followings %}
    <li class="list-group-item d-flex justify-content-between align-items-center">

        <a href="/profile/{{ user_obj.query.filter_by(id=flwg.following_id).first().user_name }}">
            {{ user_obj.query.filter_by(id=flwg.following_id).first().name }}
        </a>
        {% if current_user.id == user_obj.id %}
        <button type="button" onClick="unFollowFromFollowingPage('{{ flwg.id }}', '{{ user_obj.user_name }}')">
            Unfollow
        </button>
        {% endif %}

    </li>
    {% endfor %}


</ul>



{% endblock %}