{% extends "app_base.html" %}
{% block title %}Followers{% endblock %}
{% block content %}

<h3>Here You will see the list of your followers.</h3>

<ul class="list-group list-group-flush" id="notes">
<!--    {% if user.followers %}-->
    {% for note in user.followers %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ note }}
    </li>
    {% endfor %}
<!--    {% else %}-->
<!--        <h>There is nothing to show you</h>-->
<!--    {% endif %}-->

</ul>

{% endblock %}