{% extends "app_base.html" %}{% block title %}Search Results{% endblock %}{% block content %}

<h4>Your Searched for <b>{{ searched }}</b> </h4>


{% if not lis %}
<h5>No Results !</h5>
{% else %}
<h4>Results....</h4>

{% for a, b, c in lis %}

    <div class="cont">
        <a href="/profile/{{ a.user_name }}">
            <img src="https://placekitten.com/g/300/300"
                class="pic"
                width="100px"
                height="100px"
                alt="Profile-Photo">
        </a>
        <div class="names">
            <p class="name">{{ a.name }}</p>
            <p class="user_name">{{ a.user_name }}</p>

        </div>
        <form class="follow" method="POST">
              {% if b == 1 %}
              <button class="follow_btn" onclick="unFollowFromSearchedPage('{{ c.id }}','{{ searched }}' )">
                Followed
              </button>
              {% else %}
              <button class="follow_btn" onclick="followFromSearchedPage('{{ a.id }}','{{ searched }}' )">
                    Follow
              </button>
              {% endif %}

        </form>
    </div>
<style>

.cont{
    padding: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    align-tracks: center;

    display: flex;
    background-color: rgb(11, 173, 173);
    width: 95%;
    height: 120px;
    border-radius: 5px 100px 100px;

}
.pic{
    padding: 10px;
    border-radius: 50%;
}

.names{
    margin-top: auto;
    margin-bottom: auto;
}
.user_name{
    margin-top: -0.7pc;
}
.follow{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    margin-left:15px;
}
.follow_btn{
    height: 45px;
    width: 100px;
    background-color: darkcyan;
    border-radius: 5px 50px 50px;
}

</style>
{% endfor %}
{% endif %}
<!--</ul>-->

{% endblock %}