{% extends "app_base.html" %}{% block title %}Sign-up{% endblock %}{% block content %}

<form action="" method="POST">
    <h2 align="center">Sign up</h2>
    <br>

    <div class="input-group mb-3">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input
                type="text"
                name="user_name"
                class="form-control"
                placeholder="username"
                required
                aria-label="username"
                aria-describedby="button-addon2">
        <button
                class="btn btn-outline-secondary"
                type="button"
                title="Check if this username is available"
                aria-label="Check if entered username is available"
                id="button-addon2">Check</button>
    </div>

    <div class="input-group mb-3">
        <span
                class="input-group-text"
                id="naam">Name

        </span>
        <input
                type="text"
                name="name"

                class="form-control"
                placeholder="Name"
                aria-label="Name"
                required >
    </div>

    <div class="input-group mb-3">
        <span
                class="input-group-text"
                id="pswrd">Password</span>
        <input
                type="password"
                name="password"
                class="form-control"
                placeholder="Password"
                aria-label="password"
                required >
    </div>

    <div class="input-group mb-3">
        <span
                class="input-group-text" id="confirm_password">Confirm Password</span>
        <input
                type="password"
                name="confirm_password"
                class="form-control"
                placeholder="Enter your Password again"
                aria-label="confirm_password">
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}
